(1) word = 'Hello' としたとき、2文字目を出力しなさい

In [1]:
word ='Hello'
word[1]

'e'

(2) word[-1]とすると、何が得られますか？

In [3]:
word[-1] #最後の文字

'o'

(3) wordからellだけ表示しなさい

In [6]:
word[1:4]

'ell'

(4) リスト values = [1, 2, 3, 4, 5]の最後に6を追加しなさい

In [8]:
values = [1, 2, 3, 4, 5]
values.append(6)
values

[1, 2, 3, 4, 5, 6]

(5) リストvaluesの長さを求めなさい(6の追加後の長さ)

In [9]:
len(values)

6

(6) リストvalueの3番目の要素(要素番号は2)を表示しなさい

In [10]:
values[2]

3

(7) ループを使って、リストvaluesを1つずつ表示しなさい

In [11]:
for i in values:
  print(i)

1
2
3
4
5
6

(8) 100までの7の倍数をすべて表示するプログラムを作成しなさい

In [12]:
for i in range(7, 100, 7):
  print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

(9) 0以上の7の倍数の和が初めて2000を超えるときの7の倍数の個数を求めよ

In [14]:
sum = 0
count = 0
for i in range(7, 2000, 7):
  sum += i
  count += 1
  if sum > 2000:
    break
    
print(count)

24

(10) fruits = ['orange', 'apple', 'banana', 'pineapple', 'lemon', 'apple', 'banana']にappleはいくつありますか

In [16]:
fruits = ['orange', 'apple', 'banana', 'pineapple', 'lemon', 'apple', 'banana']
print(fruits.count('apple'))

2